h1 {
    color: white;
    font-family: 'Silkscreen', cursive;
}

h3 {
    color: white;
    font-family: 'Silkscreen', cursive;
}

#box {
    text-align: center;
}

#layout table {
    border-collapse: collapse;
    font-size: 150%;
    font-family: san-serif;
    font-weight: bold;
    display: inline-block;
}

#layout table td {
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    border: 3px solid black;    
}

button {
    width: 100px;
    height: 50px;
    background-color:rgba(82, 82, 152, 0.5);
    color: white;
    font-weight: bolder;
    border-radius: 20px;
}

button:hover {
    background: white;
    color: rgba(82, 82, 152, 0.5);
}